* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, "Font Awesome 5 Free Solid";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

window {
    margin-top: 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #ffffff;
    border-top: 2px solid #ffffff;
}

#tray, 
#clock, 
#battery, 
#cpu, 
#memory,
#disk,
#network {
    padding: 0 5px;
    margin-right: 5px;
    margin-top: 5px;
}

#battery icon {
    color: red;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.warning:not(.charging) {
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background-color: #f53c3c;
}

